 * { margin: 0; padding: 0; }

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    width: 100%;
}
    
    /*-----------------  Overheader:  -------------------*/

header {
    background-color:#1a1a1a;
}

section.overheader {
    display: flex;
    width: 100%;
    height: 28px;
    box-sizing: border-box;
    transition: all 0.2s;
     align-items: center;
    justify-content: space-around;
}

section.overheader > ul {
    display: flex;
     gap: 70px;
}

section.overheader > ul li {
    display: inline;
    opacity: 76%;
    transition: all 0.2s;
}

.overheader ul li {
    list-style: none;
}

#entrega-imediata {margin-left: 20px;}
#whatsapp {margin-left: 10px;}
#email {margin-left: 15px;}

.overheader ul li a {
    text-decoration: none;
    color: white;
    font-size: 8px;
    line-height: 48px;
}

.overheader ul li h2 img {
    position: relative;
    top: 10px;
    width: 17px;
    height: 20px;
    margin: 4px;
}

.overheader ul li h2 { margin: 0; }

.overheader ul li:hover { opacity: 100%; }

.country-selection {
    height: 16px
}

.country-selection img {
    width: 25px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.1s
}

.country-selection img:hover {
    transform: scale(1.1);
}

#divider-overheader {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.267);
    border: none;
}

/*-----------------  Header-center:  -------------------*/
    
.header-center {
    height: 7rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-center div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left: 3rem;
}


#logo {
    padding: 0;
    margin: 6px 30px 10px 60px;
}

#logo-dh {
    width: 70px;
    height: 70px;
}

#title-logo {
    font-size: 1.75em;
    text-align: center;
    color: white;
    padding-left: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#logo a {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.search div {
    background-color: white;
    border-radius: 10px;
    height: 43px;
}

.search input {
    padding-left: 15px;
    padding-right: 6px;
    font-size: 16px;
    width: 25vw;
    border: none;
    outline: 0;
    text-align: left;
}

.search button {
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px;
    padding-right: 7px;
}

.search img {
    padding-top: 3px;
}

div.client-support {
    margin-left: 0;
    margin-right: 1em;
    gap: 0.6em;
    cursor: pointer;
    padding: 0.9em;
    transition: all 0.5s;
    border-radius: 10px;
    border: transparent;
}

.client-support img {width: 1.7em}

.client-support a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.client-support:hover { border: solid 1px #fad11b }

div.login-signup {
    margin-left: 1em;
    margin-right: 1em;
    gap: 0.6em;
    cursor: pointer;
    padding: 0.8em;
    transition: all 0.5s;
    border-radius: 10px;
    border: transparent;
}

.login-signup img {width: 1.7em}

.login-signup a {
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

.login-signup:hover { border: solid 1px #fad11b }

.shopping-cart {
    position: relative;
    background-color: #fad11b;
    border: none;
    border-radius: 10px;
    width: 55px;
    min-width: 55px;
    height:55px;
    left: 15px;
    bottom: 1px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.3s;  
} 

div.shopping-cart {margin-right: 5em}

.shopping-cart ul li {list-style: none;}

.shopping-cart img {
    position: absolute;
    width: 35px;
    height: 36px;
    bottom: 9px;
    left: 11px;
}

.shopping-cart:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

hr#divider-to-categories {
    width: 100%;
    height: 4px;
    background-color: #fad11b;
    border: none;
    margin: 0;
    padding: 0;
    top: 0px;
}

/*-----------------  Categorias:  -------------------*/

.categories ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.categories ul li {
    background-color: #1a1a1a   ;
    list-style: none;
    width: 100%;
    height: 44px;
    text-align: center;
    font-size: 17px;
    line-height: 44px;
    font-weight: bold;
    justify-content: space-around;    
}

.categories ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.categories ul li:hover {
    background-color: #fad11b;
    color: black;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 16.4px;
}

.categories ul li:hover > a {
    color: black;
}

.categories ul ul {
    flex-direction: column;
    display: none;
}

.categories ul li:hover > ul {
    display: block;
}

.categories ul ul li {
    font-size: 15px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.categories ul ul li:hover {
    transition: .4s;
    background-color: #fad11b;
    font-size: 14.3px;
    text-align: center;
}

.categories {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.247);
}

/*-----------------  Chat-container:  -------------------*/

.chat-container{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius:12px;
}
    
.chat {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
    /* font-weight: bold;  é necessario? o texto está numa strong */  
    border-radius: 14px;
    width: 60px;  /* pra que?--------------- */
    transition: all .3s;
    /* position: relative; */
    background: none;
}
      
.chat img {
    width: 60px;
    margin-left: 5px;  /* pra que?--------------- */
}
       
.chat strong {
    opacity: 0;
    width: 0;
    background-color: none;
    color: black;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    padding-right: 10px;
    transition: opacity .3s;
    transition-delay: .2s;
    transition-timing-function: ease-out;  
    /* position: absolute; */
    /* left: 100%;   pra que?--------------- */
    /* font-weight: bold;  é necessario? o texto está numa strong */
    /* padding-left: 10px; */        
}
    
.chat:hover{
    border: solid 2px #e2bf23; 
    width: 165px;
    background: #eee;
}
    
.chat:hover strong{
    animation-name:  slideChat;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    opacity: 1;
}
    
@keyframes slideChat {
    from{
        left: 100%;
        width: 0;
    }
    to{
        left: 0;
        width: initial;
    }
}

/*-------------  Carrossel de imagens:  -------------*/

.container-carousel {
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel {
    width: 90rem;
    height: 17rem;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    margin: 3rem;
    border: solid 1px #1a1a1ac5;
    position: relative;
}

.slides {
    /* width: 500rem; pra que?*/
    display: flex;
    position: relative;
}

.slides a {cursor: initial;}

.image img {
    width: 90em;
    height: 17em;
}

#atual {
    transition: all 0.5s;
}

.btn {
    display: flex;
    position: absolute;
    top: 3.4em;
    color: white;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2.2em;
    margin-top: -5px;
    background: rgba(200, 200, 200, 0.521); 
    width: 7px;
    height: 8px;
    transition: all 0.2s;
}

.btn:hover {
    transform: scale(1.2);
    color: #1a1a1a;
    background: #e6cd5f; 
}

#back {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

#next {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    left: 39.6em;
}

.balls {
    position: absolute;
    display: flex;
    justify-content: center;
    /* width: 90rem; */
    margin-top: 1em;
    margin-left: 1em;
}

.balls div {
    transition: all 0.4s;
    border: solid 3px #eee;
    padding: 3px;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}

.balls div:hover {
    background: #cfb852;
    border: solid 3px #cfb852;
    transform: scale(1.2);
}

.imgAtual {
    background: #eee;
    transition: all 0.3s;
}


.teste-scroll {margin: 3rem; text-align: justify;}

/*-----------------------  Footer:  -------------------------*/

footer {
    background-color:  #1a1a1a; 
    color: #eee; 
}

section.info-dh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment-methods {
    margin: 3rem;
}

.payment-methods-title {
    font-weight: bold;
    font-size: 1.5rem;
    cursor: default;
}

.payment-type {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 2rem; 
    padding-top: 1rem;
}

.payment-type  span {
    font-weight: bold;
    cursor: default;
}

.payment-type img {
    width: auto;
    height: 35px;
    padding-top: 7px;
}
    
.networks-container {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    align-items: center;
    width: 40%;
}

.social-networks span {
    font-weight: bold;
    font-size: 1.3em;
    cursor: default;
}

.social-networks img {
    width: auto;
    height: 51px;
}

div.social-networks-icons {
    display: inline-flex;
    gap: 25px;
    padding-top: 2rem;
}

div.security {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.security span {
    font-weight: bold;
    font-size: 1.3rem;
    cursor: default;
}

.security img {
    width: auto;
    height: 45px;
    padding-top: 20px;
}
    
.copyright {
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-bottom: 3rem;
 }

 /* ----------------- Super promoções ------------------*/

 .title-super-promotions {
    margin-left: 4rem;
    margin-right: 4rem;
 }

 .title-super-promotions span {
    font-weight: bold;
    text-transform: uppercase;
 }

 .title-super-promotions span::after{
     content: '';
     display: block;
     height: 4px;
     background-color: #c2a420;
     width: 20%;
     margin-top: 8px;
     border-radius: 5px;
 }

 .title-super-promotions::after {
    content: '';
    display: block;
    height: 1px;
    background-color: #1a1a1a3f;
    width: 80%;
    position: relative;
    left: 20%;
    bottom: 2px;
    border-radius: 5px;
 }

.promotions-container {
    margin: 35px 0px 35px 0px;
    padding: 0;
    width: 100%;
    height: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    border-top: solid 5px #c2a420;
    border-bottom: solid 5px #c2a420;
}

.cards-promotions-div {display: flex}

.cards-promotions{
    margin: 0px 30px 0px 30px;
    height: 25em;
    align-items: center;
    justify-content: space-around;
    display: flex;
    gap: 3rem;
    text-align: center;
}

.promotions-img {
    width: 100%;
    height: 15em;
}

.card-promotion {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
    background-color: #eee;
    border: solid 3px #c2a420;
    border-radius: 10px;
    width: 14rem;
    position: relative;
}

.card-promotion:hover {
    border: solid 3px #189107;
    transition: .5s;
}

.title-card-promotion {
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: default;
    font-weight: bold;
}

.oldPrice-card {
    color: #9c2222be;
    font-weight: bold;
    font-size: 11px;
    text-decoration: line-through;
}

.price-card-promotions {cursor: default;}

.priceUpdate-card {
    font-size: 11px;
    padding-bottom: 2px;
}

.currentPrice-card {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
}

.buy-btn {
    display: flex;
    background: #189107;
    border: none;
    border-radius: 20px;
    width: 80%;
    height: 30px;
    align-items: center;
    justify-content: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 4px;
}

.buy-btn:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.discount-card {
    display: none;
    gap: 4px;
    background-color: #189107;
    color: white;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    width: 18%;
    padding: 7px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    justify-content:start;
    right: 0;
    bottom: 5.5em;
}

.discount-card img {width: 15px;}

.card-promotion:hover > .discount-card {
    display: flex;
}
